// bower:scss
// endbower
///////////////////////////// Variables //////////////////////////////////

// Colors
$white: #f4f4f4;
$black: #4d4d4d;
$grey: (
  superlight: #ebebeb,
  light: #b7b7b7,
  mid: #9c9c9c,
  dark: #7f7f7f,
);
$orange: (
  light: #ff9b43,
  mid: #f07100,
  dark: #d95d02,
);
$red: (
  light: #f78a78,
  mid: #f46048,
  dark: #c83c25,
);
$green: (
  light: #82c5a3,
  mid: #319663,
  dark: #175f3a,
);
$blue: (
  light: #73bef0,
  mid: #3e98d3,
  dark: #0878c2,
);

// Fonts
$tenso: "tenso",sans-serif;
$lexia: "lexia",serif;

///////////////////////////// Structure //////////////////////////////
// General
body {
  background: $white;
  color: $black;
  font-family: $lexia;
}


.browserupgrade {
  background: map-get($grey, light);
  color: $black;
  margin: .2em 0;
  padding: .2em 0;
}
